.header {
    background-color: $main;
    color: $white;
    height: 5em;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding-top: 2.5vh;
    
    &__title{
        font-size: $large-font-size;
        width: 50%;
    }

    &__nav{
        font-size: $medium-font-size;
        &__title {
            color: $white;
            text-align: center;
        }
    }
}

