.header {
    background-color: $main;
    color: $white;
    height: 5em;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding-top: 2.5vh;

    &__title {
        font-size: $large-font-size;
        width: 50%;
        text-transform: uppercase;
        font-size: $extra-large-font-size;
        font-family: $normal-font-family;
        a{
            color: $white;
        }
    }

    &__nav {
        font-size: $extra-large-font-size;
        &__title {
            color: $white;
            text-align: center;
        }
    }
}
