.main_list{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;

    &__title{
        font-size: $extra-large-font-size;
        background-color: orange;
        margin: .4em auto 0;
        font-family: $normal-font-family;
        text-align: center;
        padding: .2em 4em;
    }

    .one-article{
        display: flex;
        justify-content: center;
        margin: 1em auto;
        position: relative;
        padding: 1em;
        border: solid 1px black;
        

        &__img{
            height: 10em;
        }

        &__text{
            font-size: $medium-font-size;
            margin: auto 2em;
            width: 50%;
        }

        &__button{
            position: absolute;
            right: 15%;
            bottom: 0;
            font-size: $medium-font-size;
            height: 20%;
            width: 12%;
            margin: 1em;
            background-color: $main;

            a{
                color: $white;
                font-weight: bold;
            }
        }
    }

}