.main__detail{
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: auto;
    width: 80%;
    font-family: $normal-font-family;

    &__section{
        margin: auto;
    }

    &__section-contact-horaires{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        &__title{
            background-color: orange;
            text-align: center;
            font-size: $large-font-size;
            margin: 1em auto;
            padding: .3em;
        }

        &__text{
            margin: auto;
            margin-top: 1em;
            font-size: $medium-font-size;
            font-weight: bold;
        }
    }
    
    &__title{
        font-size: $large-font-size;
        text-align: center;
        background-color: orange;
        margin: 1em auto;
        padding: .3em;
        width: 80%;
    }

    &__text{
        text-align: center;
        margin: auto;
        line-height: 1.3em;
        font-size: $medium-font-size;
        width: 80%;
    }

    &__img{
        height: 400px;
        width: 100%;
    }
}