/vendor
/wp
/wp-config.php
/content/plugins/*
/content/themes/*
!/content/themes/cekikifekoi
/content/themes/cekikifekoi/node_modules
/content/themes/cekikifekoi/public
/content/languages
/content/upgrade
/content/uploads