.header__nav {
    width: 40%;
    text-align: left;
    z-index: 1000;
    cursor: pointer;

    &__items {
        display: none;
    }

    &:hover {
        ul li ul {
            display: block;
            margin-top: 1em;
            padding: 1em;
            text-align: left;
            background-color: grey;
        }
    }

    a {
        color: $white;
        line-height: 2em;
        margin-left: 1em;

        &:hover {
            border-bottom: 2px solid red;
            border-bottom-width: thin;
            padding-bottom: 0.2em;
            display: inline;
        }
    }
}
