// Rte font-awesome node_modules
$fa-font-path: '~font-awesome/fonts';

// Colors
$main: #126f81;
$white: #ffffff;

// fonts-family
$normal-font-family: Helvetica, Arial, Sans-Serif;

// fonts-size
$normal-font-size: 15px;
$medium-font-size: 18px;
$large-font-size: 22px; 
$extra-large-font-size: 32px;